.category{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.category-cards__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.category-cards__item{
    position: relative;
width: 100%;
max-width: 350px;
height: 204px;
background-color: var(--secondary-color);
}
.category-cards__item__img{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%);
    filter: drop-shadow(7px 37px 15px rgb(71, 68, 68));
}
.category__info{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
}
.category-cards__item__title{
    width: 100%;
    max-width: 13.3rem;
    color: #000;
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.286px;
text-transform: uppercase;
}
.categoty-cards__item__link{
    color: var(--main-color);
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    color: #d1cac7;
font-family: Manrope;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
}
.categoty-cards__item__link:hover{
    color: var(--main-color);
}

/* =======RESPONSIVE====== */

@media (max-width:800px) {
    .category-cards__item{
        width: 223px;
    height: 165px;
    }
    .category-cards__item__title{
        font-size: 15px;
    }
    .categoty-cards__item__link{
        font-size: 13px;
    }
}
@media (max-width:700px) {
    .category-cards__item{
    width: 100%;
    max-width: 180px;
    height: 165px;
    }
    .category-cards__item__img{
        top: -50px;
        width: 79.916px;
        height: 104px;
    }
    
    .category-cards__item__title{
        font-size: 15px;
    }
    .categoty-cards__item__link{
        font-size: 13px;
    }
}
@media (max-width:600px) {
    .category-cards__item{
    width: 100%;
    max-width: 150px;
    height: 165px;
    }
    .category-cards__item__img{
        top: -30px;
        width: 59.916px;
        height: 80px;
    }
}
@media (max-width:500px) {
    .category-cards__list{
        flex-direction: column;
        row-gap: 6.8rem;
    }
    .category-cards__item{
        width: 100%;
        max-width: 327px;
        height: 165px;
        }
        .category-cards__item__img{
            top: -50px;
            width: 79.916px;
height: 104px;
        }
}
