.button-primary{
    width: 100%;
    max-width: 16rem;
    height: 4.8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
color: aliceblue !important;  
    /* background-color: #d87d4a; */
}

