.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}
.footer-info{
    display: flex;
    align-items: flex-end;
    margin-top: 1.6rem;
    padding-bottom: 3rem;
    justify-content: space-between;
}
.footer-info__text{
    width: 100%;
    max-width: 54rem;
    color: var(--white-color);
    margin-bottom: 2.6rem;
}
.footer-info__creator{
    width: 100%;
    max-width: 54rem;
    color: var(--white-color);
}
.footer-info__creator span{
    text-decoration: underline;
    color: rgb(124, 124, 212);
    margin-left: 0.4rem;
}

/* right-section */
.footer-section-right__container{
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 1.6rem;
}

/* =======RESPONSIVE====== */

@media (max-width:800px) {
    .footer__container{
        flex-direction: column;
        align-items: start;
        row-gap: 2rem;
    }
}
@media (max-width:500px) {
    .footer__container{
        align-items: center;
    }
    .sitenav__list{
        flex-direction: column;
    }
    .footer-info{
        align-items: center;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;
    }
    
}